@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Readex Pro', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.27;
}

/* -----------Common-Css-Start--------- */
ul,
li {
    list-style-type: none;
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
    transition: .4s;
}

a:hover {
    text-decoration: none;
    color: #B80000;
}

img {
    max-width: 100%;
}

.row_am {
    padding: 20px 0;
}

figure {
    margin: 0;
}

h4 {
    font-size: 16px;
}

/* ---------common_news---------- */ 
.common_news {position: relative; display: inline-block;}
.common_news::before {content: ""; position: absolute; left: 0; top: 0; background: linear-gradient(to top , rgba(0, 0, 0, 0.8) , rgba(0, 0, 0, 0.0)); width: 100%; height: 100%;}
.common_news figcaption {position: absolute; left: 0; bottom: 0; padding: 10px; padding-bottom: 5px; color: #fff;}
.common_news figcaption span {font-size: 18px; display: inline-block; line-height: 1.27; margin-bottom: 5px;} 
.common_news:hover .news_title {color: #B80000; text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);}
.common_news figcaption ul {display: flex; justify-content: space-between;}
.common_news figcaption ul span , .news_category .news_cat figcaption ul i {font-size: 11px;}

/*--------------Header-Css-Start-----------*/
header {position: relative;}
header .top_header {display: flex;}
header .top_header .logo {width: 396px;}

header .top_header .search_box {width: calc(100% - 636px); height: 60px; position: relative;}
header .top_header .search_box form .form-control {height: 60px; border: none; background-color: #424242; border-radius: 0;}
header .top_header .search_box form .form-control:focus {box-shadow: none; background-color: #383838; color: #fff;}
header .top_header .search_box form .form-control::placeholder {color: #fff;}

header .top_header .search_box .btn {font-size: 20px; position: absolute; right: 15px; top: 50%; transform: translateY(-50%); color: #fff;}

header .top_header .social_media {width: 240px;}
header .top_header .social_media ul {display: flex;}


/* ----Bottom-Header-Css--- */
header .bottom_header {background-color: #2D2D2D;}
header .bottom_header nav ul {display: flex; justify-content: space-between; padding: 15px 0px;}
header .bottom_header nav ul li a {color: #fff;}
header .bottom_header .container {position: relative;}
.hamburger {position: absolute; right: 15px; top: 10px; display: none;}
.hamburger span {font-size: 24px; color: #fff;}

/* ---------Main-News-Css-Start----------- */

.main_news {display: flex; margin-top: 25px;}
.main_news .news {width: 33.33%; position: relative;}
.main_news .news::before {content: ""; position: absolute; left: 0; top: 0; background: linear-gradient(to top , rgba(0, 0, 0, 0.9) , rgba(0, 0, 0, 0)); width: 100%; height: 100%;}
.main_news .news figure {margin-bottom: 0;}
.main_news .news figure img {width: 100%;}
.main_news .news figcaption {position: absolute; bottom: 0; padding: 15px;}
.main_news .news figcaption a {color: #fff; font-size: 18px;}
.main_news .news figcaption a:hover {text-decoration: none; color: #B80000;}


/* ----latest_news_slider----- */
.latest_news_slider .latest_news {display: block; position: relative;}
.latest_news_slider .latest_news figcaption {padding: 10px; background: #f9f9f9;}
.latest_news_slider .latest_news figcaption .news_title {font-size: 14px; display: inline-block; line-height: 1.27; margin-bottom: 5px;} 
.latest_news_slider .latest_news:hover .news_title {color: #B80000;}
.latest_news_slider .latest_news figcaption ul {display: flex; justify-content: space-between;}
.latest_news_slider .latest_news figcaption ul span , .latest_news_slider .latest_news figcaption ul i {font-size: 11px;}

.heading {display: flex; justify-content: space-between; align-items: center; border-bottom: 2px solid #2D2D2D; margin-bottom: 15px; padding-bottom: 5px;}
.heading h2 {font-size: 20px; color: #B80000; font-weight: 600; margin-bottom: 0;}
.heading .btn {background-color: #9F0706; color: #fff; border-radius: 0; padding: 2px 8px; font-size: 14px;}


.tags {position: absolute; top: 0; left: 0; display: inline-block; padding: 2px 5px; color: #fff; background-color: rgba(184, 0, 0, 0.8); font-size: 13px;} 

.category_block {margin: 15px 0;}
.news_category {display: flex; justify-content: space-between;}
.news_category .news_cat {position: relative; display: inline-block; width: 49%;}
.news_category .news_cat::before {content: ""; position: absolute; left: 0; top: 0; background: linear-gradient(to top , rgba(0, 0, 0, 0.8) , rgba(0, 0, 0, 0.0)); width: 100%; height: 100%;}
.news_category .news_cat figcaption {position: absolute; left: 0; bottom: 0; padding: 10px; padding-bottom: 5px; color: #fff;}
.news_category .news_cat figcaption span {font-size: 18px; display: inline-block; line-height: 1.27; margin-bottom: 5px;} 
.news_category .news_cat:hover .news_title {color: #B80000;}
.news_category .news_cat figcaption ul {display: flex; justify-content: space-between;}
.news_category .news_cat figcaption ul span , .news_category .news_cat figcaption ul i {font-size: 11px;}

/* -------------Main-Category-Post---------- */
.main_category_post {margin-bottom: 20px;}
.main_category_post .main_new_post {display: flex; justify-content: space-between;}
.main_category_post .main_new_post .post {width: 49%; position: relative;}
.main_category_post .main_new_post .post figcaption {margin-top: 10px;}
.main_category_post .main_new_post .side_list_block {width: 49%; margin-top: 0;}



/* ------------Side-Bar-Css-Start--------- */
.tags_list {margin-bottom: 30px;}
.tags_list ul {display: flex; flex-wrap: wrap;}
.tags_list ul li a {display: inline-block; padding: 3px 7px; background-color: #2d2d2d; color: #fff; margin: 3px 2px;}
.tags_list ul li a:hover {background-color: #424242;}

.side_post_block {margin-bottom: 30px;}
.side_list_block {margin-top: 20px;}
.side_list_block ul .post_block {display: flex; margin-bottom: 15px; padding-bottom: 5px; border-bottom: 1px solid #e7e7e7;}
.side_list_block ul li:last-child .post_block {border-bottom: none;}
.side_list_block ul .post_block figure {width: 70px; margin-right: 10px;}
.side_list_block ul .post_block figcaption {width: calc(100% - 80px);}
.side_list_block ul .post_block figcaption>span {font-size: 15px; line-height: 1.2; display: block;}
.side_list_block ul .post_block figcaption ul {display: flex; justify-content: space-between; margin-top: 3px;}

.date_name li i , .date_name li span {font-size: 11px; color: #8a8a8a;}

/* ------Footer-Css-Start------------ */
footer {background-color: #2D2D2D; padding: 15px 0;}
footer .row {align-items: center;}
footer p , footer a {font-size: 14px; color: #fff; margin: 0;}
footer ul {display: flex; justify-content: flex-end;}
footer ul li a {padding: 0 5px;}
footer ul li:last-child a {padding-right: 0;}

/* --------Bread-Crumb--------- */
.bread_crumb ul {background-color: #ededed; margin-top: 15px; display: flex; padding-left: 10px; flex-wrap: wrap;}
.bread_crumb ul li a , .bread_crumb ul li p {padding: 10px; display: block; margin-bottom: 0;}
.bread_crumb ul li a i {margin-top: 2px; margin-left: 5px;}


/* ------News-Block-Page------ */
.news_block_page .category_block {margin-top: 5px;}
.news_block_page .news_category {flex-wrap: wrap;}
.news_block_page .news_category .news_cat {margin-bottom: 20px;}

.main_news_details h1 {font-size: 30px; margin-top: 15px;}
.main_news_details p {margin: 10px 0; color: #797979; font-weight: 300;}

/* ------------breaking-news-Css-Start---------- */
.breaking_news {border-radius: 2px; margin-top: 30px; display: flex; align-items: center; background-color: #B80000; width: 100%; overflow: hidden;}
.breaking_news h3 , .breaking_news p {margin: 0; padding: 10px 15px; color: #fff; display: block;}
.breaking_news h3 {font-size: 20px; font-style: italic;  padding-right: 20px;}
.breaking_news p {font-weight: 600; border-left: 1px solid rgba(255, 255, 255, 0.3);}
.breaking_news h3 {animation: breking_anim .5s infinite linear;}
.breaking_news:hover {opacity: .8;}

@keyframes breking_anim {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}

.text_content_section h2 {margin: 15px 0;}
.text_content_section p {color: #797979; font-weight: 300; font-size: 14px; word-spacing: 2px;}

.contact_page h2 {margin: 15px 0;}

.contact_section {
    display: flex;
    margin-left: -15px;
}

.contact_section .contact-form {
    width: 65%;
    padding: 15px;
}


.contact_section .contact-detail {
    width: 35%;
    padding: 15px;
}

.contact_section .contact-form p {
    margin: 20px 0;
    line-height: 1.5;
}

.contact_section .contact-form form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact_section .contact-form form .form-group {
    width: 48%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.contact_section .contact-form form .form-group input {
    width: 100%;
    border: 1px solid #000;
    padding: 15px 10px;
}

.contact_section .contact-form form label {
    margin-bottom: 8px;
}

.contact_section .contact-form .message {
    width: 100%;
}

.contact_section .contact-form .message textarea {
    width: 100%;
    height: 100px;
    padding: 15px;
    font-size: 16px;
    border-radius: 0;
    margin-top: 10px;
}

.contact_section button.btn {
    padding: 12px 40px;
    font-size: 17px;
    color: #fff;
    background-color: #2D2D2D;
    border: none;
    margin-top: 30px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    border-radius: 0;
}

.contact_section button:focus {
    outline: none;
}

.contact_section button.btn::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #b91800;
    left: 0;
    top: 0;
    z-index: -1;
    transition: .4s;
}

.contact_section button.btn:hover::before {
    width: 100%;
}

.contact-detail .social-media ul {
    display: flex;
    margin-bottom: 50px;
}

.address li {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.address li p {margin-bottom: 0;}

.address li:first-child {padding-top: 0;}

.address li span {
    width: 10%;
    font-size: 18px;
    color: #b91800;
}

.address li a:hover {
    color: #b91800;
}




@media screen and (max-width:1100px) {


    .contact_section {
        flex-direction: column;
    }

    .contact_section .contact-form {
        width: 100%;
        margin-bottom: 30px;
    }


    .contact_section .contact-detail {
        width: 100%;
    }


}


@media screen and (max-width:767px) {

    .contact_section {
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }

    
}


@media screen and (max-width:576px) {

    .contact_section .contact-form form .form-group {
        width: 100%;
    }
}













